# Python
**/*.pyc
**/__pycache__/
**/*.py[cod]
**/.Python
*.egg-info/
dist/
build/

# Environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project
tmp/
uploads/
usage_tracking*.json
test.txt
shaders/
